@model InstrumentDTO

@{
    ViewData["Title"] = "Update instrument";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update instrument</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ImagePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageURL" class="control-label"></label>
                        <input asp-for="ImageURL" class="form-control" />
                        <span asp-validation-for="ImageURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input type="number" step="0.5" min="1" max="10000 " asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="BrandId" class="control-label"></label>
                            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands"></select>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InstrumentTypeValue" class="control-label"></label>
                            <select asp-for="InstrumentTypeValue" class="form-control" asp-items="Html.GetEnumSelectList<InstrumentTypeEnum>()"></select>
                            <span asp-validation-for="InstrumentTypeValue" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('ImagePreview');
            output.src = $("#ImagePreview").val();
        })

        $("#ImageURL").on("change", function () {
            var output = document.getElementById('ImageURL');
            output.src = $(this).val();
        })
    </script>
}