@model string
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Custom error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>See exception message below</h3>
<p>
    @Model
</p>