@{
    ViewData["Title"] = "Success";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Order has been created successfully!</h4>
        </p>
    </div>
</div>

@section Scripts{
    <script>
        $("#ImageURL").on("change", function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $(this).val();
        })
    </script>
}